<h2>{{@L.coach.list}}</h2>
<table class="coach list">
    <tr>
        <th>{{@L.basic.avatar}}</th>
        <th>{{@L.basic.name}}</th>
        <th>{{@L.basic.teams}}</th>
    </tr>
    {~ foreach(@coaches as @coach): ~}
    <tr>
        <td><img src="{{@BASE}}/{{@coach.avatar}}" alt="{{@coach.name}}'s avatar" class="avatar"/></td>
        <td><a href="{{@BASE}}{{ 'coach_view', 'id='.@coach.id | alias}}" title="{{@coach.name}}">{{@coach.name}}</a></td>
        <td>
            <ul>
                {~ foreach(@coach.teams?:[] as @team): ~}
                <li><a href="{{@BASE}}{{'team_view', 'id='.@team.id | alias}}" title="{{@team.name}}" />{{@team.name}}</a> ({{@team.list.name}})</li>
                {~ endforeach ~}
            </ul>
        </td>
    </tr>
    {~ endforeach ~}
</table>

<p>
    {~ if(@MANAGER): ~}
    <a href="{{@BASE}}{{'coach_new'|alias}}">{{@L.coach.new}}</a>
    <div class="block">
        <h3>{{@L.coach.invite}}</h3>
        <form action="{{@BASE}}{{'invite_create' | alias}}" method="POST" accept-charset="utf-8"> 
            <label for="email">{{@L.basic.email}}</label> <input type="email" name="inviteemail" value="" id="inviteemail">
            <input type="submit" value="{{@L.basic.send}}" />
        </form>
    </div>
    {~ endif ~}
</p>
