<form action="{{@BASE}}{{'config' | alias}}" method="POST" accept-charset="utf-8" enctype="multipart/form-data">
    <div class="logo">
        {~ if(@cfg.logo): ~}
        <img src="{{@BASE}}/img/logo.png" />
        {~ endif ~}
        <input type="hidden" name="MAX_FILE_SIZE" value="2097152" />
        <label for="upload-logo">{{@L.basic.logoupload}}</label><input type="file" name="upload-logo" value="" id="upload-logo">
    </div>
    <span class="field">
        <label for="name">{{@L.basic.name}}</label><input type="text" name="name" value="{{@cfg.name}}" id="name" required=true />
    </span>
    <span class="field">
        <label for="welcome">{{@L.league.presentation}}</label>
        <textarea class="beautiful" name="welcome" id="welcome">{{@cfg.welcome}}</textarea>
    </span>

    <fieldset id="rules" class="">
        <legend>{{@L.rules.rules}}</legend>
        <span class="field">
            <label for="initialgold">{{@L.rules.initialgold}}</label><input type="number" name="initialgold" value={{@cfg.initialgold?:1000}} id="initialgold">
        </span>
        <span class="field">
            <label for="ff">{{@L.rules.ff}}</label><input type="number" name="ff" value={{@cfg.ff?:5}} id="ff">
        </span>
        <span class="field">
            <label for="ffPrice">{{@L.rules.ffPrice}}</label><input type="number" name="ffPrice" value={{@cfg.ffPrice?:10}} id="ffPrice">
        </span>
    </fieldset>

    <fieldset id="season" class="">
        <legend>{{@L.rules.season}}</legend>
        <span class="field">
            <label for="roundLength">{{@L.rules.roundLength}}</label><input type="number" name="roundLength" value={{@cfg.roundLength?:28}} id="roundlength">
        </span>
        <span class="field">
            <label for="officials">{{@L.rules.officials}}</label><input type="number" name="officials" value={{@cfg.officials?:2}} id="officials">
        </span>
        <span class="field">
            <label for="friendlies">{{@L.rules.friendlies}}</label><input type="number" name="friendlies" value={{@cfg.friendlies?:2}} id="friendlies">
        </span>
    </fieldset>
    <fieldset id="points" class="">
        <span class="field">
            <label for="wonPoints">{{@L.rules.wonPoints}}</label><input type="number" name="wonPoints" value={{@cfg.wonPoints?:3}} id="wonPoints">
        </span>
        <span class="field">
            <label for="drawPoints">{{@L.rules.drawPoints}}</label><input type="number" name="drawPoints" value={{@cfg.drawPoints?:1}} id="drawPoints">
        </span>
        <span class="field">
            <label for="lostPoints">{{@L.rules.lostPoints}}</label><input type="number" name="lostPoints" value={{@cfg.lostPoints?:0}} id="lostPoints">
        </span>
    </fieldset>
    <input type="submit" value="{{@L.basic.save}}" />
</form>
