<h2>{{@L.season.header,@season.number,@season.name|format}}
    <span class="season meta">
        {~ if(@MANAGER): ~}<a href="{{'season_edit' | alias}}">{{@L.season.edit}}</a>{~ endif ~}
    </span>
</h2>

<div class='comment'>
    {{@season.comment}}
</div>
<h3>{{@L.basic.teams}}</h3>
<table>
    <thead>
        <tr>
            <th>{{@L.team.points}}</th>
            <th>{{@L.basic.name}}</th>
            <th>{{@L.team.race}}</th>
            <th>{{@L.team.value}}</th>
            <th>{{@L.team.wins}}</th>
            <th>{{@L.team.ties}}</th>
            <th>{{@L.team.losses}}</th>
            <th>{{@L.team.winperc}}</th>
            <th>{{@L.player.cp}}</th>
            <th>{{@L.player.td}}</th>
            <th>{{@L.player.int}}</th>
            <th>{{@L.player.cas}}</th>
        </tr>
    </thead>
    <tbody>
        {~ foreach(@season.teams?:[] as @team): ~}
        <tr>
            <td>{{is_null(@team.points)?'-':@team.points}}</td>
            <td>{{@team.name}}</td>
            <td>{{@team.list.name}}</td>
            <td>{{@team.value}}</td>
            <td>{{@team->wins()}}</td>
            <td>{{@team->ties()}}</td>
            <td>{{@team->losses()}}</td>
            <td>{{@team->winperc()}}</td>
            <td>{{@team->cp()}}</td>
            <td>{{@team->td()}}</td>
            <td>{{@team->int()}}</td>
            <td>{{@team->cas()}}</td>
        </tr>
        {~ endforeach ~}
    </tbody>
</table>
<h3>{{@L.game.rounds}}</h3>
{~ foreach(@season.rounds?:[] as @round): ~}
<h4>{{@L.game.round}} {{@round.number}}</h4>
    <ul id="games-list">
        {~ foreach(@round.games?:[] as @game): ~}
        <li>
            <span class='date'>
                {~ if(@game.date): ~} {{'{0, date}',@game.date | format}}
                {~ else: ~}{{@L.game.undetermined}}
                {~ endif ~}
            </span>
            <a href="{{'team_view', 'id='.@game.local.id | alias}}">{{@game.local.name}}</a>
            (<a href="{{'coach_view', 'id='.@game.local.coach.id | alias}}">{{@game.local.coach.name}}</a>)
            {~ if(@game.localResult): ~}: {{@game.localResult}} {~endif~}
            vs
            <a href="{{'team_view', 'id='.@game.visitor.id | alias}}">{{@game.visitor.name}}</a>
            (<a href="{{'coach_view', 'id='.@game.visitor.coach.id | alias}}">{{@game.visitor.coach.name}}</a>)
            {~ if(@game.visitorResult): ~}: {{@game.visitorResult}} {~endif~}
            {~ if(@MANAGER): ~}
            <span class="meta">(<a href="{{'game_reprogram', 'id='.@game.id | alias}}">{{@L.basic.edit}}</a>)</span>
            <span class="meta">(<a href="{{'game_results', 'id='.@game.id | alias}}">{{@L.game.results}}</a>)</span>
            {~ endif ~}
        </li>
        {~ endforeach ~}
    </ul>
{~ endforeach ~}
{~ if(@MANAGER): ~}<a href="{{'game_program' | alias}}">{{@L.game.program}}{~ endif ~}
