<h2>{{@L.season.header,@season.number,@season.name|format}}
    <span class="season meta">
        {~ if(@MANAGER): ~}<a href="{{@BASE}}{{'season_edit' | alias}}">{{@L.season.edit}}</a>{~ endif ~}
    </span>
</h2>

<div class='comment'>
    {{@season.comment}}
</div>
<h3>{{@L.basic.teams}}</h3>
<div class="wide-table">
    <table>
        <thead>
            <tr>
                <th>{{@L.team.points}}</th>
                <th>{{@L.basic.name}}</th>
                <th>{{@L.team.race}}</th>
                <th>{{@L.team.value}}</th>
                <th>{{@L.team.wins}}</th>
                <th>{{@L.team.ties}}</th>
                <th>{{@L.team.losses}}</th>
                <th>{{@L.team.winperc}}</th>
                <th>{{@L.player.cp}}</th>
                <th>{{@L.player.td}}</th>
                <th>{{@L.player.int}}</th>
                <th>{{@L.player.cas}}</th>
            </tr>
        </thead>
        <tbody>
            {~ foreach(@season.teams?:[] as @team): ~}
            <tr>
                <td>{{is_null(@team.points)?'-':@team.points}}</td>
                <td><a href="{{@BASE}}{{'team_view', 'id='.@team.id | alias}}">{{@team.name}}</a></td>
                <td>{{@team.list.name}}</td>
                <td>{{@team.value}}</td>
                <td>{{@team->wins()}}</td>
                <td>{{@team->ties()}}</td>
                <td>{{@team->losses()}}</td>
                <td>{{@team->winperc()}}</td>
                <td>{{@team->cp()}}</td>
                <td>{{@team->td()}}</td>
                <td>{{@team->int()}}</td>
                <td>{{@team->cas()}}</td>
            </tr>
            {~ endforeach ~}
        </tbody>
    </table>
    </wide>
<h3>{{@L.game.rounds}}</h3>
{~ foreach(@season.rounds?:[] as @round): ~}
<h4>{{@L.game.round}} {{@round.number}}</h4>
{~ @round.games->orderBy('date ASC') ~}
    <ul id="games-list">
        {~ foreach(@round.games?:[] as @game): ~}
        <li class="{~ if(@game.official): ~}official{~ else: ~}friendly{~ endif ~}">
            <span class='date'>
                {~ if(@game.date): ~} {{'{0, date}',@game.date | format}}
                {~ else: ~}{{@L.game.undetermined}}
                {~ endif ~}
            </span>
            <a href="{{@BASE}}{{'team_view', 'id='.@game.local.id | alias}}">{{@game.local.name}}</a>
            (<a href="{{@BASE}}{{'coach_view', 'id='.@game.local.coach.id | alias}}">{{@game.local.coach.name}}</a>)
            {~ if(is_int(@game.localResult)): ~}: {{@game.localResult}} {~endif~}
            vs
            <a href="{{@BASE}}{{'team_view', 'id='.@game.visitor.id | alias}}">{{@game.visitor.name}}</a>
            (<a href="{{@BASE}}{{'coach_view', 'id='.@game.visitor.coach.id | alias}}">{{@game.visitor.coach.name}}</a>)
            {~ if(is_int(@game.visitorResult)): ~}: {{@game.visitorResult}} {~endif~}
            {~ if(@MANAGER): ~}
            <span class="meta">(<a href="{{@BASE}}{{'game_reprogram', 'id='.@game.id | alias}}">{{@L.basic.edit}}</a>)</span>
            <span class="meta">(<a href="{{@BASE}}{{'game_results', 'id='.@game.id | alias}}">{{@L.game.results}}</a>)</span>
            {~ endif ~}
            {~ if(is_int(@game.localResult)): ~}
            : <a  class="nav" href="{{@BASE}}{{'game_view', 'id='.@game.id | alias}}">{{@L.basic.view}}</a>
            {~ endif ~}
        </li>
        {~ endforeach ~}
    </ul>
{~ endforeach ~}
{~ if(@MANAGER): ~}
<a  class="nav" href="{{@BASE}}{{'game_program' | alias}}">{{@L.game.program}}</a>
{~ if(!@round.games): ~}
- <a  class="nav" href="{{@BASE}}{{'season_organize' | alias}}">{{@L.season.organize}}</a>
{~ endif ~}
{~ endif ~}
