{~ if(@team.name): ~}
<h2>{{@L.team.editing,@team.name|format}}</h2>
<form method="POST" action="{{'team_update','id='.@team.id | alias}}"  enctype="multipart/form-data">
    <fieldset id="team-logo" class="">
        <!--legend>{{@L.basic.logo}}</legend-->
        <div id="avatarbox" onClick="avatarupload.click();" class="singleupload" data-url="{{'team_logo', 'id='.@team.id|alias}}">
            <img src="{{@BASE}}/{{@team.logo}}" />
        </div>
        <input type="file" name="logo" id="avatarupload"  style="display:none;" />
    </fieldset>

    {~ else: ~}
    <form method="POST" action="{{'team_create' | alias}}"  enctype="multipart/form-data">
        <fieldset id="team-logo" class="">
            <!--legend>{{@L.basic.logo}}</legend-->
            <input type="file" name="logo" id="logo-upload"/>
        </fieldset>
        {~ endif ~}

        <input id="team-name" name="teamname" placeholder="{{@L.basic.name}}" value="{{@team.name}}" required=true />
        <select name="race" class="change-positions" id="race" size="1">
            {~ if(!@team.id): ~}
            <option value="" disable selected hidden>{{@L.team.chooserace}}</option>
            {~ endif ~}
            {~ foreach(@lists as @list): ~}
            <option value="{{@list.id}}" {~ if(@team.list.id == @list.id): ~}selected{~ endif ~}>{{@list.name}}</option>
            {~ endforeach ~}
        </select>
        <div class="wide-table">
            <table class="player list">
                <tr>
                    <th>{{@L.player.number}}</th>
                    <th>{{@L.basic.name}}</th>
                    <th>{{@L.player.position}}</th>
                    <th>{{@L.player.ma}}</th>
                    <th>{{@L.player.st}}</th>
                    <th>{{@L.player.ag}}</th>
                    <th>{{@L.player.av}}</th>
                    <th>{{@L.player.basicskills}}</th>
                    <th>{{@L.player.learnedskills}}</th>
                    <th>{{@L.player.cp}}</th>
                    <th>{{@L.player.td}}</th>
                    <th>{{@L.player.int}}</th>
                    <th>{{@L.player.cas}}</th>
                    <th>{{@L.player.mvp}}</th>
                    <th>{{@L.player.spp}}</th>
                    <th>{{@L.player.value}}</th>
                    <th>{{@L.player.level}}</th>
                    <th>{{@L.player.hurt}}</th>
                    <th>{{@L.player.comment}}</th>
                    <th>{{@L.player.dead}}</th>
                </tr>
                {~ foreach((@team.players?:[]) as @player): ~}
                <tr>
                    <td>
                        <input type="number" class="number" name=player[{{@player.number}}][number] value={{@player.number}}  readonly="readonly">
                        <input type="hidden" name=player[{{@player.number}}][id] value={{@player.id}}  readonly="readonly">
                    </td>
                    <td>
                        <input class="name" name="player[{{@player.number}}][name]" value="{{@player.name}}" required=true/>
                    </td>
                    <td>
                        <select class="positions" name="player[{{@player.number}}][position]" required=true>
                            {~ if(@team.id): ~}
                            {~ foreach(@team.list.positions as @position): ~}
                            <option value="{{@position.id}}" {~ if(@player.position.id == @position.id): ~}selected{~ endif ~}>{{@position.name}}</option>
                            {~ endforeach ~}
                            {~ endif ~}
                        </select>
                    </td>
                    <td>
                        <input class="ma" name="player[{{@player.number}}][ma]" type="number" value="{{@player.MA}}" required=true min=1 max=10 />
                    </td>
                    <td>
                        <input class="st" name="player[{{@player.number}}][st]" type="number" value="{{@player.ST}}" required=true min=1 max=10 />
                    </td>
                    <td>
                        <input class="ag" name="player[{{@player.number}}][ag]" type="number" value="{{@player.AG}}" required=true min=1 max=10 />
                    </td>
                    <td>
                        <input class="av" name="player[{{@player.number}}][av]" type="number" value="{{@player.AV}}" required=true min=1 max=10 />
                    </td>
                    <td>
                        <select class="basicskills" name="player[{{@player.number}}][basicskills][]" required=true readonly="readonly" multiple=true data-placeholder="{{@L.basic.select}}">
                            {~ if(@team.id): ~}
                            {~ foreach(@player.basicSkills?:[] as @skill): ~}
                            <option value="{{@skill.id}}" selected>{{@skill.name}}</option>
                            {~ endforeach ~}
                            {~ endif ~}
                        </select>
                    </td>
                    <td>
                        <select class="learnedskills" name="player[{{@player.number}}][learnedskills][]" multiple=true data-placeholder="{{@L.basic.select}}">
                            {~ if(@team.id): ~}
                            {~ foreach(@player.position.basic?:[] as @basic): ~}
                            <optgroup label="{{@basic.name}}">
                                {~ foreach(@basic.skills?:[] as @skill): ~}
                                <option value="{{@skill.id}}" {~ if(@player->hasSkill(@skill, false)): ~}selected{~ endif ~} >{{@skill.name}}</option>
                                {~ endforeach ~}
                            </optgroup>
                            {~ endforeach ~}
                            {~ foreach(@player.position.doubles?:[] as @basic): ~}
                            <optgroup label="{{@basic.name}}">
                                {~ foreach(@basic.skills?:[] as @skill): ~}
                                <option value="{{@skill.id}}" {~ if(@player->hasSkill(@skill, false)): ~}selected{~ endif ~} >{{@skill.name}}</option>
                                {~ endforeach ~}
                            </optgroup>
                            {~ endforeach ~}
                            {~ endif ~}
                        </select>


                    </td>
                    <td>
                        <input class="cp" name="player[{{@player.number}}][cp]" type="number" value="{{@player.CP}}" required=true min=0 />
                    </td>
                    <td>
                        <input class="td" name="player[{{@player.number}}][td]" type="number" value="{{@player.TD}}" required=true min=0 />
                    </td>
                    <td>
                        <input class="int" name="player[{{@player.number}}][int]" type="number" value="{{@player.Int}}" required=true min=0 />
                    </td>
                    <td>
                        <input class="cas" name="player[{{@player.number}}][cas]" type="number" value="{{@player.Cas}}" required=true min=0 />
                    </td>
                    <td>
                        <input class="mvp" name="player[{{@player.number}}][mvp]" type="number" value="{{@player.MVP}}" required=true min=0 />
                    </td>
                    <td>
                        <input class="spp" name="player[{{@player.number}}][spp]" type="number" value="{{@player.SPP}}" required=true min=0 />
                    </td>
                    <td>
                        <input class="value" name="player[{{@player.number}}][playervalue]" type="number" value="{{@player.value}}"  readonly="readonly"/>
                    </td>
                    <td>
                        <input class="level" name="player[{{@player.number}}][level]" type="number" value="{{@player.level}}" required=true min=1 />
                    </td>
                    <td>
                        <input type="checkbox" name="player[{{@player.number}}][hurt]" class="hurt" {~ if(@player.hurt): ~}checked{~ endif ~}/>
                    </td>
                    <td>
                        <textarea class="notes" name="player[{{@player.number}}][comment]">{{@player.comment}}</textarea>
                    </td>
                    <td>
                        <input type="checkbox" name="player[{{@player.number}}][dead]" class="dead" {~ if(@player.dead): ~}checked{~ endif ~}/>
                    </td>
                    <td> <button type="button" class="remove-player" data-id="{{@player.id}}">{{@L.basic.delete}}</button> </td>
                </tr>
                {~ endforeach ~}
            </table>

        </div>

        <button type="button" class="add-player">{{@L.player.add}}</button>

        <div class="team data">
            <fieldset>
                <p>
                    <label for="money">{{@L.team.money}}</label><input type="number" name="money" value="{{@team.id?@team.money:@cfg.initialgold}}" id="money">
                </p>
                <p>
                    <label for="FF">{{@L.team.ff}}</label><input type="number" name="ff" value="{{@team.FF?:@cfg.ff}}" id="ff" min=0 max=9 />
                </p>
                <p>
                    <label for="value">{{@L.team.value}}</label><input type="number" name="value" value="{{@team.value?:0}}" id="value" readonly="readonly">
                </p>
                <p>
                    <label for="rerolls">{{@L.team.rerolls}}</label><input type="number" name="rerolls" value="{{@team.rerolls?:0}}" id="rerolls" min=0 />
                </p>
            </fieldset>
            <fieldset>
                <p>
                    <label for="assistants">{{@L.team.assistants}}</label><input type="number" name="assistants" value="{{@team.assistants?:0}}" id="assistants" min=0 />
                </p>
                <p>
                    <label for="cheerleaders">{{@L.team.cheerleaders}}</label><input type="number" name="cheerleaders" value="{{@team.cheerleaders?:0}}" id="cheerleaders" min=0 />
                </p>
                <p>
                    <label for="apothecary">{{@L.team.apothecary}}</label><input type="number" name="apothecary" value="{{@team.apothecary?:0}}" id="apothecary" min=0 max=1 />
                </p>
            </fieldset>
        </div>

        <p><input type="submit" value="{{@L.basic.save}}" /></p>

    </form>
