<h2>
    <img src="{{@BASE}}/{{@team.logo}}" />{{@team.name}} ({{@team.list.name}})
    {~if(@myteam || @MANAGER): ~}<span class="meta"><a href="{{@BASE}}{{'team_edit', 'id='.@team.id | alias}}">{{@L.basic.edit}}</a></span>{~endif~}
</h2>

<h3><a href="{{@BASE}}{{'coach_view', 'id='.@team.coach.id | alias}}">{{@L.basic.coach}}: {{@team.coach.name}}</a></h3>

<div class="data">
    <dl>
        <dt>{{@L.team.value}}</dt>
        <dd>{{@team.value}}K</dd>
        <dt>{{@L.team.ff}}</dt>
        <dd>{{@team.FF?:0}}</dd>
        <dt>{{@L.team.apothecary}}</dt>
        <dd>{{@team.apothecary?:0}}</dd>
        <dt>{{@L.team.assistants}}</dt>
        <dd>{{@team.assistants?:0}}</dd>
        <dt>{{@L.team.cheerleaders}}</dt>
        <dd>{{@team.cheerleaders?:0}}</dd>
        <dt>{{@L.team.rerolls}}</dt>
        <dd>{{@team.rerolls?:0}}</dd>
        <dt>{{@L.team.money}}</dt>
        <dd>{{@team.money?:0}}K</dd>
    </dl>
</div>

{~ @cemetery = array() ~}

<div class="wide-table">
    <table class="player list">
        <tr>
            <th>{{@L.player.number}}</th>
            <th>{{@L.basic.name}}</th>
            <th>{{@L.player.position}}</th>
            <th>{{@L.player.ma}}</th>
            <th>{{@L.player.st}}</th>
            <th>{{@L.player.ag}}</th>
            <th>{{@L.player.av}}</th>
            <th>{{@L.player.basicskills}}</th>
            <th>{{@L.player.learnedskills}}</th>
            <th>{{@L.player.cp}}</th>
            <th>{{@L.player.td}}</th>
            <th>{{@L.player.int}}</th>
            <th>{{@L.player.cas}}</th>
            <th>{{@L.player.mvp}}</th>
            <th>{{@L.player.spp}}</th>
            <th>{{@L.player.value}}</th>
            <th>{{@L.player.level}}</th>
            <th>{{@L.player.hurt}}</th>
            <th>{{@L.player.comment}}</th>
        </tr>
        {~ foreach((@team.players?:[]) as @player): ~}
        {~ if(@player.dead): ~}
        {~ @cemetery[] = @player ~}
        {~ else: ~}
        <tr>
            <td>{{@player.number}}</td>
            <td>{{@player.name}}</td>
            <td>{{@player.position.name}}</td>
            <td>{{@player.MA}}</td>
            <td>{{@player.ST}}</td>
            <td>{{@player.AG}}</td>
            <td>{{@player.AV}}</td>
            <td>
                {~foreach(@player.basicSkills?:[] as @skill): ~}
                <a data-tooltip="{{@skill.description}}" class="skill-tag">{{@skill.name}}</a>
                {~ endforeach ~}
            </td>
            <td>
                {~foreach(@player.learnedSkills?:[] as @skill): ~}
                <a data-tooltip="{{@skill.description}}" class="skill-tag">{{@skill.name}}</a>
                {~ endforeach ~}
            </td>
            <td>{{@player.CP}}</td>
            <td>{{@player.TD}}</td>
            <td>{{@player.Int}}</td>
            <td>{{@player.Cas}}</td>
            <td>{{@player.MVP}}</td>
            <td>{{@player.SPP}}</td>
            <td>{{@player.value}}K</td>
            <td>{{@player.level}}</td>
            <td>{~ if(@player.hurt): ~}{{@L.player.hurt}}{~ endif ~}</td>
            <td>{{@player.comment}}</td>

        </tr>
        {~ endif ~}
        {~ endforeach ~}
    </table>

    {~ if(!empty(@cemetery)): ~}
    <div class="cemetery wide-table">
        <h4>{{@L.team.cemetery}}</h4>
        <table class="player list">
            <tr>
                <th>{{@L.player.number}}</th>
                <th>{{@L.basic.name}}</th>
                <th>{{@L.player.position}}</th>
                <th>{{@L.player.ma}}</th>
                <th>{{@L.player.st}}</th>
                <th>{{@L.player.ag}}</th>
                <th>{{@L.player.av}}</th>
                <th>{{@L.player.basicskills}}</th>
                <th>{{@L.player.learnedskills}}</th>
                <th>{{@L.player.cp}}</th>
                <th>{{@L.player.td}}</th>
                <th>{{@L.player.int}}</th>
                <th>{{@L.player.cas}}</th>
                <th>{{@L.player.mvp}}</th>
                <th>{{@L.player.spp}}</th>
                <th>{{@L.player.value}}</th>
                <th>{{@L.player.level}}</th>
            </tr>
            {~ foreach((@cemetery?:[]) as @player): ~}
            <tr>
                <td>{{@player.number}}</td>
                <td>{{@player.name}}</td>
                <td>{{@player.position.name}}</td>
                <td>{{@player.MA}}</td>
                <td>{{@player.ST}}</td>
                <td>{{@player.AG}}</td>
                <td>{{@player.AV}}</td>
                <td>
                    {~foreach(@player.basicSkills?:[] as @skill): ~}
                    <a data-tooltip="{{@skill.description}}" class="skill-tag">{{@skill.name}}</a>
                    {~ endforeach ~}
                </td>
                <td>
                    {~foreach(@player.learnedSkills?:[] as @skill): ~}
                    <a title="{{@skill.description}}" class="skill-tag">{{@skill.name}}</a>
                    {~ endforeach ~}
                </td>
                <td>{{@player.CP}}</td>
                <td>{{@player.TD}}</td>
                <td>{{@player.Int}}</td>
                <td>{{@player.Cas}}</td>
                <td>{{@player.MVP}}</td>
                <td>{{@player.SPP}}</td>
                <td>{{@player.value}}K</td>
                <td>{{@player.level}}</td>

            </tr>
            {~ endforeach ~}
        </table>
    </div>
    {~ endif ~}

    <h4>{{@L.team.games}}</h4>
    {~ if(!@team.hosted && !@team.vsited): ~}
    {{@L.team.nogames}}
    {~ else: ~}
    <table class="games">
        <thead>
            <tr>
                <th>{{@L.game.against}}</th>
                <th>{{@L.game.official}}</th>
                <th>{{@L.game.date}}</th>
                <th>{{@L.game.results}}</th>
                <th>{{@L.game.casualties}}</th>
                <th>{{@L.game.gate}}</th>
                <th>{{@L.game.money}}</th>
            </tr>
        </thead>
        <tbody>
            {~ foreach(@team.hosted?:[] as @game): ~}
            {~ if(!@game.date) break ~}
            <tr>
                <td>{{@game.visitor.name}}</td>
                <td>{{@game.official?@L.game.official:@L.game.friendly}}</td>
                <td>{{'{0, date}',@game.date | format}}</td>
                <td><strong>{{@game.localResult}}</strong> - {{@game.visitorResult}}</td>
                <td><strong>{{@game.localCasualties}}</strong> - {{@game.visitorCasualties}}</td>
                <td><strong>{{@game.localGate}}K</strong> - {{@game.visitorGate}}K</td>
                <td><strong>{{@game.localMoney}}K</strong> - {{@game.visitorMoney}}K</td>
            </tr>
            {~ endforeach ~}
            {~ foreach(@team.visited?:[] as @game): ~}
            {~ if(!@game.date) break ~}
            <tr>
                <td>{{@game.local.name}}</td>
                <td>{{@game.official?@L.game.official:@L.game.friendly}}</td>
                <td>{{'{0, date}',@game.date | format}}</td>
                <td>{{@game.localResult}} - <strong>{{@game.visitorResult}}</strong></td>
                <td>{{@game.localCasualties}} - <strong>{{@game.visitorCasualties}}</strong></td>
                <td>{{@game.localGate}}K - <strong>{{@game.visitorGate}}K</strong></td>
                <td>{{@game.localMoney}}K - <strong>{{@game.visitorMoney}}K</strong></td>
            </tr>
            {~ endforeach ~}
        </tbody>
    </table>
    {~ endif ~}

    <h4>{{@L.basic.stats}}</h4>
    <table class="stats">
        <thead>
            <tr>
                <th>{{@L.team.points}}</th>
                <th>{{@L.team.wins}}</th>
                <th>{{@L.team.ties}}</th>
                <th>{{@L.team.losses}}</th>
                <th>{{@L.team.winperc}}</th>
                <th>{{@L.player.cp}}</th>
                <th>{{@L.player.td}}</th>
                <th>{{@L.player.int}}</th>
                <th>{{@L.player.cas}}</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{is_null(@team.points)?'-':@team.points}}</td>
                <td>{{@team->wins()}}</td>
                <td>{{@team->ties()}}</td>
                <td>{{@team->losses()}}</td>
                <td>{{@team->winperc()}}</td>
                <td>{{@team->cp()}}</td>
                <td>{{@team->td()}}</td>
                <td>{{@team->int()}}</td>
                <td>{{@team->cas()}}</td>
            </tr>
        </tbody>
    </table>

</div>
